.container {
    display: flex;
    flex-wrap: wrap; /* This allows the items to wrap onto the next line for responsiveness */
    width: 100%;
    margin: 10px;
  }
  
  .column {
    box-sizing: border-box; /* To ensure padding doesn't affect the final dimensions */
    padding: 10px; /* Optional: for some space inside the columns */
  }
  
  .column-20 {
    flex: 0 0 20%;
    border: orange 1px solid;
    margin-right: 10px
  }
  
  .column-80 {
    flex: 0 0 75%;
    border: red 1px solid;
  }
  
  /* Responsive adjustments. Here, when the screen width is 600px or less, the columns stack */
  @media (max-width: 600px) {
    .column-20,
    .column-80 {
      flex: 0 0 100%; /* Forces them to take up all the available width */
    }
  }
  
  .abdo_text {
    font-family: B-Nazanin;
    font-weight: bolder;
    font-size:large;
    line-height: 2rem;
    width: 80%;
    margin:20px auto;

}
.abdo_title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.abdo_image {
    margin: auto;
    width: 607px;
    height: 347px;
}

.abdo_headline {
  color: darkgoldenrod;
  font-weight: bold;
  margin-right: 60px;
  font-size: 2rem;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .abdo_image {
      width: 200px;
      height:200px;
    }
    .abdo_text {
      font-size: smaller;
      line-height: 20px;
    }
    .abdo_headline {
      font-size: 1rem;
    }
  }