/* src/components/TitleAndLogo.css */

.title-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.title-logo {
    display: flex;
    align-items: center;
}

.title-logo__image {
    height: auto;
    margin-right: 20px;  
}

.title-logo__text {
    font-family: B-Nazanin;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: black;  /* Adjust as needed */
}

@media (max-width: 768px) {
    .title-logo-container {
        flex-direction: column;
    }
    .title-logo__image {
        margin-right: 0;
    }
    .title-logo__text {
        font-size: 24px;
    }
}

/* Enhanced media query specifically for iMac 21.5" */
@media screen and (min-width: 1920px) {
    .title-logo-container {
        width: 95%;
        padding: 70px 0; /* Increase padding for a more spaced-out look */
    }
    .title-logo__text {
        font-size: 5.5rem; /* Larger font size for the title */
    }
    .title-logo__image {
        max-width: 150px; /* Optional: set a max-width for the logo if it appears too big. Adjust as necessary. */
    }
}
